body {
    margin: 0;
    height: 100vh;
    /*children*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
}
 
.header {
    background-color: blue;
    margin: 0;
}

.page-name {
    padding: 16px;
    margin: 0;
    color:whitesmoke;
}

.flex-middle {
    /*children*/
    display: flex;
    /* self */
    flex-grow: 1;
}

.nav {
    width: 300px;
    background-color: rgb(0, 106, 255);
    padding-left: 25px;

    /* self */
    flex-grow: 0;

    /* childern */
    display: flex;
    flex-direction: column;
    align-content: left;
}

.main {
    margin: 0 300px 0 150px;

    /*children*/
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* self */
    flex-grow: 1;
}
.default-projects-list {
    /* childern */
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}


ul {
    list-style-type: ;
    padding: 0;
}

button {
    font-size: larger;
    background-color: rgb(0, 106, 255);
    width: 250px;
    height: 50px;
    text-align: left;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}



.submit-buttons {
    display: flex;
}

.add-project-button {
    margin: 20px 0;
}

.button-add, .button-cancel{
    background-color: green;
    border-radius: 8px;
    box-shadow: 1px 1px grey;
    padding: 8px;
    width: 120px;
    margin: 16px 16px 0 0;
    color: white;
    font-weight: 700;
    text-align: center;
}

.button-cancel {
    background-color: red;
}

#new-project-input {
    width: 250px;
    height: 40px;
}

.footer {
    background-color: blue;
}

.footer p {
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    padding-left: 25px;
    text-align: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.task {
    /* childern */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 0;
    height: 60px;
    padding: 8px;
    border-radius: 16px;
}

#tasks {
    align-self: stretch;
}

input[type="checkbox"]{
    width: 20px;
    height:20px;

}


.task-title{
    display: inline-block;
    font-size: x-large;
    padding-left: 20px;
}

.hidden {
    visibility: hidden;
}

.project-add-popup {
    margin-top: -75px;
}

.hover-button:hover {
    background-color: rgb(200, 195, 195);
}

.hover-button:focus {
    background-color: rgb(200, 195, 195);
}

.add-task-button {
    width: 100%;
    margin-top: 20px;
    background-color: aliceblue;
}

#hidden-task {
    width: 100%;
}

#new-task-input {
    width: 100%;
    height: 40px;
}

.task-add-popup {
    margin-top: -58px;
}

.hover:hover {
    background-color: rgb(200, 195, 195);
}